{% extends '::main.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/frontend.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/normalizar.css') }}">
{% endblock %}

{% block header %}
<header>
    <h2><a href="{{ path('portada') }}"><img src="{{ asset('bundles/dentoletigeneral/images/logo.png')}}"></a></h2>
    {% include'DentoletiGeneralBundle:Default:user-info.html.twig' %}
    {% include 'DentoletiGeneralBundle:Default:menu.html.twig' %}
</header>
{% endblock %}

{% block body %}
<div id="contendor">
    <aside>
        {# Basic data of the entity that is being showing, i.e. patient, traeatment, budget, doctor, etc #}
        {% block aside %}{% endblock %}
    </aside>
    <section>
        <article>
            {# Maybe, Dentoleti should show another articles for the patient's history that are most visited or
            the last patients that have been shown#}
            {% block search %}{% endblock %}
        </article>
        <article>
            {%  block results %}{% endblock %}
        </article>
        <article>
            {%  block add %}{% endblock %}
        </article>
        <article>
            {%  block view %}{% endblock %}
        </article>
    </section>
</div>
{% endblock %}