{% extends '::main.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/frontend.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletigeneral/css/normalizar.css') }}">
{% endblock %}

{% block header %}
<header>
    <h2><a href="{{ path('portada') }}"><img src="{{ asset('bundles/dentoletigeneral/images/logo.png')}}"></a></h2>
    <nav>
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('patient_search') }}'><span>Patients</span></a>
                </li>
                <li class='has-sub'><a href='#'><span>Agenda</span></a>
                    <ul>
                        <li><a href="{{ path('consultation_add', { 'doctorId': 1 }) }}"><span>Agregar</span></a></li> {# TODO Put here the real doctorId #}
                        <li><a href='{{ path('consultation_list') }}'><span>Listado</span></a></li>
                        <li class='last'><a href='{{ path('consultation_search') }}'><span>Búsqueda</span></a></li>
                    </ul>
                </li>
                <li><a href='{{ path('doctor_search') }}'><span>Doctors</span></a></li>
                <li><a href='{{ path('budget_search') }}'><span>Budgets</span></a></li>
                <li><a href='{{ path('treatment_search') }}'><span>Treatments</span></a></li>
                <li><a href='{{ path('articles_search') }}'><span>Articles</span></a></li>
                <li class='has-sub'><a href='#'><span>Caja</span></a>
                    <ul>
                        <li><a href='{{ path('dentoleti_accounting_daily') }}'><span>Cierre de caja</span></a></li>
                    </ul>
                </li>
                <li class='last has-sub'><a href='#'><span>Citas</span></a>
                    <ul>
                        <li><a href="#"><span>Agregar</span></a></li>
                        <li><a href='#'><span>Listado</span></a></li>
                        <li class='last'><a href='#'><span>Búsqueda</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}

{% block body %}
<div id="contendor">
    <aside>
        {# Basic data of the entity that is being showing, i.e. patient, traeatment, budget, doctor, etc #}
        {% block aside %}{% endblock %}
    </aside>
    <section>
        <article>
            {# Maybe, Dentoleti should show another articles for the patient's history that are most visited or
            the last patients that have been shown#}
            {% block search %}{% endblock %}
        </article>
        <article>
            {%  block results %}{% endblock %}
        </article>
    </section>
</div>
{% endblock %}