<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}

    <div class="panel panel-default">
        <div class="panel-body">
        </div>
        <div class="panel-footer">
            &copy; 2013 - {{ 'now' | date('Y') }} <br>
            Luis González Rodríguez
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('bundles/dentoletigeneral/js/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/dentoletigeneral/js/bootstrap.min.js') }}"></script>
        {% javascripts '@DentoletiPatientBundle/Resources/public/js/ajax-calls.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DentoletiGeneralBundle/Resources/public/js/tabs.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>