{% extends '::frontend.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletipatient/css/patient.css') }}">
	{{ parent() }}
{% endblock %}

{% block article %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
    	<div class="flash-notice">
       		{{ flashMessage }}
    	</div>
	{% endfor %}
	<table id="list">
		<tr>
			<th>Historia</th>
			<th>NIF</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Email</th>
			<th>Teléfono</th>
			<th>Doctor</th>
			<th>Ver</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for patient in patients %}
		<tr>

			<td>{{ patient.id }}</td>
			<td>{{ patient.nif }}</td>
			<td>{{ patient.name }}</td>
			<td>{{ patient.surname1 }} {{ patient.surname2 }}</td>
			<td>{{ patient.email }}</td>
			<td>{{ patient.phone1 }}</td>
			<td>Doc</td>
			<td><a href="{{ path('patient_view', { 'id': patient.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/eye.png') }}"></a></td>
			<td><a href="{{ path('patient_edit', { 'id': patient.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/edit.png') }}"></a></td>
			<td><a href="{{ path('patient_erase', { 'id': patient.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/erase.png') }}"></a></td>
		</tr>
		{% endfor %}		
	</table>
	
{% endblock %}