{% extends '::frontend.html.twig' %}

{% block main_data %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#personal-data">Personal data</a></li>
        <li role="presentation"><a href="#budgets">Budgets</a></li>
        <li role="presentation"><a href="#">Treatments</a></li>
        <li role="presentation"><a href="#">Consultations</a></li>
        <li role="presentation"><a href="#">Documents</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="personal-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Nif:</span>
                        <span>{{ patient.nif }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Nombre:</span>
                        <span>{{ patient.name }}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="label">Apellidos:</span>
                        <span>{{ patient.surname1 }} {{ patient.surname2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Estado civil:</span>
                        <span>{{ patient.civilStatus }}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="label">Fecha de nacimiento:</span>
                        <span>{{ patient.birthday | date('d-m-Y') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Ocupación:</span>
                        <span>{{ patient.occupation }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Email:</span>
                        <span>{{ patient.email }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Teléfono 1:</span>
                        <span>{{ patient.phone1 }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Teléfono 2:</span>
                        <span>{{ patient.phone2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="label">Dirección:</span>
                        <span>{{ patient.address }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="label">Población:</span>
                        <span>{{ patient.town }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Código postal:</span>
                        <span>{{ patient.postalCode }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Alergias:</span>
                        <span>{{ patient.allergies }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Enfermedades:</span>
                        <span>{{ patient.diseases }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Vih:</span>
                        <span>{{ patient.vih }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Última visita:</span>
                        <span>{{ patient.lastVisit }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Frecuencia:</span>
                        <span>{{ patient.revisionFrequency }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="label">Doctor:</span>
                        <span>{{ patient.doctor }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="label">Tratamiento:</span>
                        <span>{{ patient.treatment }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="label">Forma de conocernos:</span>
                        <span>{{ patient.meeting }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="label">Observaciones:</span>
                        <span>{{ patient.observations }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="budgets">
        </div>
    </div>
{% endblock %}
