<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">

<pdf>
    <dynamic-page>
    	<div>
       		<img src="{{ pdf_image('DentoletiGeneralBundle:logo.png') }}" />
       	</div>
       	<div>
       		<stylesheet>
       			<attribute name="float" value="right" />
       			<attribute name="width" value="30%" />
       		</stylesheet>
       		<strong>Paciente Nº: </strong>{{ budget.patient.id }}
       		<br/>
       		{{ budget.patient.name | upper}} {{ budget.patient.surname1 | upper }} {{ budget.patient.surname2 | upper }}
       		<br/>
       		{{ budget.patient.nif }}
       		<br/>
       		{{ budget.patient.postalCode }} - {{ budget.patient.town }}
       	</div>
       	<div>
       		<p>Avd, de Sevilla, 108</p>
       	</div>
       	<div>
       		<stylesheet>
       			<attribute name="float" value="left" />
       			<attribute name="width" value="20%" />
       		</stylesheet>
       		<p><strong>Presupuesto: </strong> {{ budget.id }}</p>
       	</div>
       	<div>
       		<stylesheet>
       			<attribute name="float" value="right" />
       			<attribute name="width" value="80%" />
       			<attribute name="text-align" value="center" />
       		</stylesheet>
       		<p><strong>Fecha: </strong> {{ budget.budgetDate | date('d-m-Y') }} </p>
       	</div>
       	<div height="67%" width="100%">
			<table>
				<tr>
					<td border.type="none" width="45%">Descripción</td>
					<td border.type="none" width="5%" text-align="center">Pieza</td>
                              <td border.type="none" width="10%" text-align="center">Precio/unidad</td>
					<td border.type="none" width="5%" text-align="center">Cantidad</td>
                              <td border.type="none" width="5%" text-align="center">Parcial</td>
                              <td border.type="none" width="5%" text-align="center">IVA</td>
					<td border.type="none" width="5%" text-align="center">Subtotal</td>
				</tr>
				<tr>
                              <td border.type="none" colspan="7">
                                    <hr/>
                              </td>
                        </tr>
                        {% for budgetDetail in budgetDetailsList %}
                        <tr>
                              <td border.type="none">{{ budgetDetail.article.description }}</td>
                              <td border.type="none" text-align="center">{{ budgetDetail.tooth }}</td>
                              <td border.type="none" text-align="center">{{ budgetDetail.price }}</td>
                              <td border.type="none" text-align="center">{{ budgetDetail.amount }}</td>
                              <td border.type="none" text-align="center">{{ partialTotals[budgetDetail.id] }}</td>
                              <td border.type="none" text-align="center">{{ ivas[budgetDetail.id] }}</td>
                              <td border.type="none" text-align="center">{{ subTotals[budgetDetail.id] }}</td>
                        </tr>
                        {% endfor %}
			</table>  
       	</div>
       	<div>
			<hr/>
		</div>
		<div text-align="right">
			<strong font-size="16px">TOTAL {{ total }}€</strong>
		</div>
    </dynamic-page>
</pdf>