{% extends '::frontend.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/dentoletibudget/css/budget.css') }}">
	{{ parent() }}
{% endblock %}

{% block article %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
    	<div class="flash-notice">
       		{{ flashMessage }}
    	</div>
	{% endfor %}
	<table id="list">
		<tr>
			<th>Id</th>
			<th>Paciente</th>
			<th>Fecha presupuesto</th>
			<th>Descuento</th>
			<th>Observaciones</th>
			<th>Descuento de empresa</th>
			<th>Descuento del seguro</th>
			<th>Ver</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for budget in budgetsList %}
		<tr>

			<td>{{ budget.id }}</td>
			<td>{{ budget.patient }}</td>
			<td>{{ budget.budgetDate | date('d-m-Y') }}</td>
			<td>{{ budget.discount }}</td>
			<td>{{ budget.observations }}</td>
			<td>{{ budget.discountCompany }}</td>
			<td>{{ budget.discountInsurance }}</td>
			<td><a href="{{ path('budget_view', { 'id': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/eye.png') }}"></a></td>
			<td><a href="{{ path('budget_edit', { 'id': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/edit.png') }}"></a></td>
			<td><a href="{{ path('budget_delete', { 'id': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/erase.png') }}"></a></td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}