<div id="results">
    <table id="list">
        <tr>
            {% if confirmed == 0 %}
            <th>Confirm</th>
            {% endif %}
            <th>id</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {% for budget in budgets %}
            <tr>
                {% if confirmed == 0 %}
                <td><a href="{{ path('treatment_add', { 'budgetId': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/eye.png') }}"></a></td>
                {% endif %}
                <td>{{ budget.id }}</td>
                <td>{{ budget.patient }}</td>
                <td>{{ budget.doctor }}</td>
                <td><a href="{{ path('budget_view', { 'budgetId': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/eye.png') }}"></a></td>
                <td><a href="{{ path('budget_edit', { 'budgetId': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/edit.png') }}"></a></td>
                <td><a href="{{ path('budget_erase', { 'budgetId': budget.id }) }}"><img src="{{ asset('bundles/dentoletigeneral/images/icons/erase.png') }}"></a></td>
            </tr>
        {% endfor %}
    </table>
</div>