{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/dentoletibudget/css/budget.css') }}">
    {{ parent() }}
{% endblock %}

{% block search %}
    <div id="search">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="col1-two">
            <div class="label">
                {{ form_label(form.id) }}
            </div>
            <div class="data">
                {{ form_widget(form.id) }}
                <div class="error">
                    {{ form_errors(form.id) }}
                </div>
            </div>
        </div>
        <div class="col2-two">
            <div class="label">
                {{ form_label(form.budgetDate) }}
            </div>
            <div class="data">
                {{ form_widget(form.budgetDate) }}
                <div class="error">
                    {{ form_errors(form.budgetDate) }}
                </div>
            </div>
        </div>
        <div id="buttons">
            {{ form_widget(form.search) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block results %}
    {% include 'DentoletiBudgetBundle:Default:results.html.twig' %}
{% endblock %}